<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <%- include('partials/_header')%>
    <h1>Create Account</h1>
    <form method="POST" action="/register">
      <div>
        <label for="login">Register by Email</label>
      </div>
      <input name="email" type="email" placeholder="Email" />
      <div>
        <label for="login">Password</label>
      </div>
      <div>
        <input name="password" type="password" placeholder="Password" />
      </div>
      <button type="submit">Register</button>
    </form>
  </body>
</html>
